include LICENSE
include README.org
include pyproject.toml

recursive-include *.pyx *.c *.pxd
recursive-include docs *

prune <folder or files>

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
